<div class="container">
  <div class="header">
    <div class="input-group">
      <label for="characterInput">Character</label>
      <input
        id="characterInput"
        type="text"
        maxlength="1"
        placeholder="Character"
        [(ngModel)]="character"
        [disabled]="isCharacterReadOnly()"
        class="input-character"
        (keydown)="alphabetsOnly($event)"
      />
    </div>
    <div class="clock">
      <i class="fas fa-clock"></i>
      <!-- Clock icon -->
    </div>
    <button (click)="generateGrid()" [disabled]="generationStarted" class="generate-btn">Generate 2D Grid</button>
  </div>

  <div *ngIf="grid.length; else emptyGrid" class="grid">
    <div *ngFor="let row of grid">
      <div class="cell" *ngFor="let cell of row">{{ cell }}</div>
    </div>
  </div>

  <ng-template #emptyGrid>
    <div class="grid">
      <div class="cell" *ngFor="let row of [].constructor(100); let i = index"></div>
    </div>
  </ng-template>

  <div class="code-section">
    <span class="status-live">
      <span class="live-dot" [ngClass]="{ active: generationStarted }"></span>
      LIVE
    </span>
    <div class="code-display">
      <span>Your Code: {{ code }}</span>
    </div>
  </div>
</div>
